.form-inline {
  padding-left: 80%;
  margin: 7px 0 0 0;
}

/* SEARCH BAR */

.stylish-input-group .input-group-addon {
  background: white !important;
}

.stylish-input-group .form-control {
  border-right: 0;
  box-shadow: 0 0 0;
  border-color: #ccc;
}

.stylish-input-group button {
  border: 0;
  background: transparent;
}

.container {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 200px;
}

@media only screen and (max-width: 766px) {
  .container {
    padding-left: 1%;
    padding-right: -15%;
  }
}

/* SEARCH BAR */

/* REGISTER & LOGIN FORM DESIGN */

.form-material-animation {
  display: block;
  position: relative;
  width: 400px;
  height: 400px;
  background: #fff;
  margin: 50px auto;
  padding: 30px;
}

.form-material-animation label {
  display: block;
  position: relative;
  top: -20px;
  left: 0px;
  color: #999;
  font-family: 'Helvetica', sans-serif;
  font-size: 16px;
  z-index: 1;
  transition: all 0.3s ease-out;
}

.form-material-animation input {
  display: block;
  position: relative;
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 100%;
  font-family: 'Helvetica', sans-serif;
  font-weight: bold;
  font-size: 16px;
  z-index: 2;
}

.form-material-animation input:focus, input:valid {
  outline: none;
  border-bottom: 1px solid #43d300;
}

.form-material-animation input:focus+label, input:valid+label {
  top: -40px;
  font-size: 11px;
  color: #43d300;
}

.divider {
  position: relative;
  height: 30px;
  width: auto;
  background: none;
}

/* REGISTER & LOGIN FORM DESIGN */

#myProfile {}