<div id="app">
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Papoi</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <router-link :to="{ name: 'Home'}">Home</router-link>
                        </li>
                        <li v-if="!isLogged">
                            <router-link :to="{name: 'register'}">Register</router-link>
                        </li>
                        <li v-if="!isLogged">
                            <router-link :to="{name: 'login'}">Login</router-link>
                        </li>
                        <li v-if="isLogged">
                            <router-link :to="{name: 'logout'}">Logout</router-link>
                        </li>
                        <li v-if="isLogged">
                            <router-link :to="{name: 'products'}">Products</router-link>
                        </li>
                        <li v-if="isLogged">
                            <router-link :to="{name: 'product_edit'}">Edit Products</router-link>
                        </li>
                        <li v-if="isLogged">
                            <router-link :to="{name: 'productAdd'}">Add Product</router-link>
                        </li>
                        <li>
                            <router-link :to="{name: 'user'}">Users</router-link>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reasons to live
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">None</a>
                                </li>
                                <li>
                                    <a href="#">None</a>
                                </li>
                                <li>
                                    <a href="#">None</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#">None</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="#">None</a>
                                </li>
                            </ul>
                        </li>
                        <li v-if="isLogged" id="myProfile">
                            <router-link :to="{name: 'user_profile'}">Profile</router-link> 
                        </li>
                    </ul>
                    <!-- <div class="container">
                        <div class="row">
                            <div class="col-md-4 col-md-offset-3">
                                <div class="search-form">
                                    <div class="form-group has-feedback">
                                        <label for="search" class="sr-only">Search</label>
                                        <input type="text" class="form-control" name="search" id="search" placeholder="Search in Products..." v-model="search">
                                        <span class="glyphicon glyphicon-search form-control-feedback" @click="searchProducts"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-sm-offset-3">
                                <div class="input-group stylish-input-group">
                                    <input type="text" class="form-control" placeholder="Search" v-model="search" @keyup.enter="searchProducts">
                                    <span class="input-group-addon">
                                        <button type="submit">
                                            <span class="glyphicon glyphicon-search" @click="searchProducts"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <router-view/>
</div>