<div>
    <!-- <div>
        <h2>Not authorized in mortii tai!</h2>
    </div> -->
    <div>
        <button class="btn btn-danger" @click="deleteProduct(product._id)">Delete</button>
        <!-- <router-link class="btn btn-primary" :to="/product_update/+product._id">Edit</router-link> -->
        <router-link class="btn btn-info" :to="'/product_update/'+product._id"> Edit</router-link>
        <h3>Edit your product:
            <br>
            <br>{{product.title}}</h3>
        <ul class="list-group">
            <li class="glyphicon glyphicon-text-size list-group-item"> {{product.title}}</li>
            <li class="glyphicon glyphicon-usd list-group-item"> {{product.price}}</li>
            <li class="glyphicon glyphicon-wrench list-group-item"> {{product.description}}</li>
        </ul>
    </div>
</div>