<div>
    <!-- <div>
        <h2>Not authorized in mortii tai!</h2>
    </div> -->
    <div>
        <h3>Edit product:</h3>
        <form class="form-material-animation">
            <input type="text" name="title" required autocomplete="off">
            <label for="title">Title</label>

            <div class='divider'></div>
            <input type="text" name="price" required autocomplete="off">
            <label for="price">Price</label>

            <div class='divider'></div>
            <!-- <textarea rows="4" cols="50" name="description" v-model="Product.description"></textarea> -->
            <input type="text" name="description" required autocomplete="off">
            <label for="description">Description</label>
            <button class="btn btn-success">Add Product</button>
        </form>
    </div>
</div>