<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
</head>

<body>
    <ul>
        <li>
            <a href="/">Homepage</a>
        </li>



        <li>
            <a href="/user/login">Login</a>
        </li>
        <li>
            <a href="/user/add">Register</a>
        </li>


        <li>
            <a href="#">LOGOUT</a>
        </li>

        <li>
            <a href="/test-upload">Upload</a>
        </li>
        <li>
            <a href="/user">Users</a>
        </li>

        <li>
            <a href="/product">Products</a>
        </li>
        <li>
            <a href="/product/add">Add Products</a>
        </li>

        <li>
            <a href="#">Cart</a>
        </li>
        <li>
            <a href="#">Items on sale!</a>
        </li>
        <li>
            <a href="#">Wishlist</a>
        </li>
    </ul>
</body>

</html>