<%include layout%>
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <title></title>
    </head>

    <body>
        <form method="post" action="/product/add">
            <input type="text" name="title" placeholder="Product Title" required>
            <br>
            <input type="text" name="price" placeholder="Price in $" required>
            <br>
            <input type="text" name="description" placeholder="Product description"required>
            <br>
            <input type="text" name="likes" placeholder="Product likes">
            <br>
            <input type="text" name="review" placeholder="Product review">
            <br>
            <br>
            <input type="submit" value="Submit Product">
        </form>
    </body>

    </html>