<!-- <div>
    <div v-if="penis">
        <p>Palo Alto</p>
    </div>
    <div v-else>
        <p>Sesame Street</p>
    </div>
</div> -->

<!-- <div>
    <div v-if="number == 0">
        <p>The number is 0</p>
    </div>
    <div v-else>
        <p>The number is not 0</p>
    </div>

</div> -->
<div>
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="text" class="form-control" placeholder="Enter Username">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" placeholder="Enter email">
            <small class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-success">Register</button>
    </form>


</div>